:root {
	--pink: #F0CAFB;
	--blue: #304B80;
    --gray: #B7B6BF;
    --gray-light: #b8b8b9;
    --white: #FFFFFF;
}

html, body, div, span, applet, object, iframe,
h1, a, img, ol, ul, li,
fieldset, form, label,
figure, footer, header, 
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background-color: var(--white);
}

/* Header */

.header {
    margin: 1% 6% 2% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
}

.logo {
    margin-top: 0;
    color: var(--pink); 
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 800;
}

.list-header {
    list-style: none;
    display: inline;
} 

.list-header li {
    display: inline-block;
}

.list-header a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: var(--gray);
    margin: 25px;
}

.list-header a:hover {
    color: var(--blue);
}

/* Header Button */

.login-button {
    background-color: var(--white);
    padding: 15px 24px;
    margin-left: 15px;
    color: var(--blue);
    border: 1px solid;
    border-radius: 8px;
    border-bottom-width: 4px;
    border-color: var(--blue);
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 600;
} 

.login-button:hover {
    background-color: var(--pink);
    border-bottom-width: 4px;
    border-color: var(--pink);
    border-bottom-color: var(--blue);
    transform: scale(1.0);
    transition: all 0.2s;
    cursor: pointer;
}

/* Section */

.principal {
    display: flex;
    justify-content:space-between;
}

.section {
    margin-left: 4%;
}

/* Spans */

.spans {
    display: flex;
    flex-direction: column;
}

.span-questions {
    color: var(--blue);
    font-size: 4em;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}

.span-contact {
    color: var(--blue);
    font-size: 3.5em;
    font-weight: 500;
    font-family: serif;
    font-style: italic;
}

/* Form */

fieldset {
    margin-right: 20%;
}

form {
    margin-top: 20px;
}

/* Form Input */

input {
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--gray);
    padding: 2% 2% 2% 2%;
    margin: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.subject {
    padding: 2% 50% 2% 2%;
}

.message {
    padding: 2% 50% 20% 2%;
}

::placeholder {
    color: var(--gray-light);
}

/* Form Button */

.send-button {
    background-color: var(--white);
    padding: 18px 46px;
    color: var(--blue);
    border: 1px solid;    
    border-radius: 8px;
    border-bottom-width: 5px;
    border-color: var(--blue);  
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 800;
    display: flex;
    margin: 20px 0 0 4px;  
} 

.send-button:hover {
    background-color: var(--pink);
    border-bottom-width: 4px;
    border-color: var(--pink);
    border-bottom-color: var(--blue);
    cursor: pointer;
}

/* Images */

.img-boy {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.hamburger-button {
    display: none;
}

@media screen and (max-width: 1455px) {
    .text {
        padding: 2% 50% 2% 2%; 
    }
}

@media screen and (max-width: 1124px) {
    .principal {
        align-items: flex-end;
        justify-content: space-between;
    }

    .hamburger-button {
        border: none;
        background-color: #FFF;
        display: flex;
        margin-right: 0;
        cursor: pointer;
    }

    .list-header {
        position: absolute;
        top: 80px;
        right: 35%;
        width: 120px;
        height: 200px;
        list-style: none;
        display: inline;
        background-color: var(--white);
        border-radius: 8px; 
        border: 1px solid var(--gray-light);
        margin: 10px;
        z-index: 1;
    } 

    .list-header a {
        margin: 8px;
        display: inline-block;
        align-items:flex-start;
    }

    .login-button {
        margin: 20px;
    }
    
    .text {
        padding: 2% 50% 2% 5%; 
    }

    .subject {
        padding: 2% 50% 2% 5%;
    }
    
    .message {
        padding: 2% 50% 20% 5%;
    }

    .send-button {
        margin-bottom: 40px;
    }

    .img-boy {
        display: inline;
        margin-right: 0;
        justify-content: space-between;
    }
}

@media screen and (max-width: 684px) {    
    .img-boy {
        display: none;
    }
}