.container {
    border: 1px solid;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 16px;   
    margin: 0 0.8rem; 
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu nav {
    display: flex;
    justify-content: flex-end;
}

.button {
    display: none;
}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        justify-content:space-around;
    }

    .button {
        border: none;
        background-color: #FFF;
        display: flex;
        align-items: center;
    }

    .menu ul {
        display: inline;
        align-items: center;
        position: absolute;
        top: 3.5rem;
        right: 33vw;
        border: 1px solid;
        padding: 0.5rem;
    }

    .menu a {
        padding: 0.5rem 0;
        display: flex;
        align-items:center;
    }
}